@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#Register1 {
    font-family: 'Josefine Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../Assets/Fondo-register.jpeg');
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper1 {
    display: flex;
    width: 100%;
    height: 100%;
    color: azure;
    box-sizing: border-box;
   /*justify-content: space-between;*/
   
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 50%;
    float: left;
    margin: 40px 0px -270px;
    /*margin-top: 10px;*/
}

.right-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 50%;
    float: right;
    margin: 40px 0px -270px;
    /*margin-top: 10px;*/
}

.wrapper1 .input-box {
    position: relative;
    width: 50%;
    height: 30px;
    margin: 0px 20px 50px 70px; /*margen inferior para separar las input box*/
    padding-left: 30px;
    padding-right: 30px;
}

.input-box.left {
    /*float: left;*/
    margin-right:20px; /* Espacio entre input-box izquierdo y derecho */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    width: 100%;
    height: 30px;
}

.input-box.right {
    /*float: right;*/
    margin-left: 20px; /* Espacio entre input-box derecho e izquierdo */
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    width: 100%;
    height: 30px;
}


.input-box input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: white;
    outline: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    padding: 20px 45px 20px 20px;
    right: 330px;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    
}

.input-box input::placeholder {
    color: aliceblue;
}

.input-box .icon1 {
    position: relative;
    right: 330px;
    top: 60%;
    transform: translateY(-15%);
    font-size: 20px;
}


.wrapper1 .icon1 {
    position: relative;
    left: 135px;
    top: 100%;
    font-size: 80px;
}
.wrapper1 .remember-forgot{
    display: flex;
    justify-content:center;
    font-size: 14px;
    margin: -15px 0 15px;
 }

 .remember-forgot a{
    color: white;
 }

.wrapper1 .button {
    width: 60%;
    height: 100%;
    background: white;
    border: rgba(247, 246, 246, 0.897);
    outline: rgba(247, 246, 246, 0.897);
    border-radius: 0px;
    box-shadow: 0 0 10px rgb(143, 141, 141);
    cursor: pointer;
    font-size: 14px;
    color: black;
    font-weight: 700;
    margin: 15px 0px;
    box-sizing: border-box;
   
}
.button-container {
    /*margin-top: 50%;*/
    display: flex;
    justify-content: space-between; /* Alinea los elementos con espaciado entre ellos */
    width: 70%; /* Opcional: ajusta el ancho del contenedor según sea necesario */
    margin: 20px 200px 0px;
    box-sizing: border-box;
}

.button-container div {
    box-sizing: border-box;
    /*margin-top: 50%;*/
    width: 30%; /* Ajusta el ancho de los divs que contienen los botones */
    margin: 100px 20px 80px 20px;
}

.button-container button {
    width: 90%; /* Ajusta el ancho de los botones al 100% del div contenedor */
    
}

    


.text-below {
    margin-top: 10px; /* Espacio entre el input-box y el texto debajo */
}
